body {

    background-image: url('../img/stealth.png');
  
    background-repeat:repeat-x;
  background-size: cover;
  background-position: center;
  }
  
  
  
  #start{
  
 
  
  Width:auto;
  
 display: block; 
  /* opacity: 1; */
  margin-left: auto;
  
  Margin-top: auto;
  
  Margin-bottom: auto;
  
  margin-right: auto;
  
  width: 50%;
  
  }
  
  #sonic {
  
  Display:none;
  
  Margin-left :1vw;
  
  Margin-top:10vh;
  
   Height:15vh;
  
  Width:auto;
  
  }
  
  
  
  #knuckles{
  
  Display:none;
  
  Margin-left :1vw;
  
  Margin-top:10vh;
  
   Height:15vh;
  
  Width:auto;
  
  }
  
  #eggman {
  
  Display:none;
  
  Margin-left :1vw;
  
  Margin-top:10vh;
  
   Height:15vh;
  
  Width:auto;
  
  }
  button{
  display: none;
  
  Margin-left: 50vw;
      
  Margin-right:50vw;
  
  Width:10vw;
 background-color: white;
  Height :10vh;
      }

      @media only screen and (min-device-width : 320px) and (max-device-width : 820px){
  
    button{
      display: block;
      Margin-left: 50vw;
      
      Margin-right:50vw;
      
      Width:10vw;
     background-color: white;
      Height :10vh;
}
  
  #sonic{
  
  margin-top: 5vh;
  Width:auto;
  
  }
  
  #eggman{
  

  margin-top: 5vh;
  Width:auto;
  
  }
  
  #knuckles{
  
  margin-top: 5vh;
  Width:auto;
  
  }
  
  }